*
{
	padding: 0;
	margin: 0;
	
}
body{
		margin: 0;
		background-image: url(https://www.masterdc.com/images/photos/best-music-for-programmers.jpg) ;
		background-repeat: no-repeat;
		background-size: cover;
}


.nav-area{
	background: rgba(0,0,0,0.8);
	height: 70px;
	width: 100%
}

.sitename{
	margin: 10px 50px;
	height: 70px;
	float: left;
	color: #fff;
	font-size: 45px;
	text-transform: uppercase;
}

.menu{
	float: right;
	text-align: center;
	margin: 10px

}
.menu ul{
	display: inline-flex;
	list-style: none;
	font-size: 20px
}

.menu ul li{
	width: 110px;
	margin: 3px;
	padding: 15px
}

.menu ul li a{
	text-decoration: none;
	color: #fff
}

.active, .menu ul li:hover{
	background: gray;
	border-radius: 3px;
}

.sub-menu{
	display: none;
}

.menu ul li:hover .sub-menu{
	display: block;
	position: absolute;
	background: rgba(0,0,0,0.6);
	margin-top: 15px;
	margin-left: -15px
}

.menu ul li:hover .sub-menu ul{
	display: block;
	margin: 1px;

}

.homepage{
	width: 100%;
	height: 400px;
	background: rgba(0,0,0,0.7);
	margin-top: 120px;
	color:#fff;

}

.resume{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;

}
.resume h3, h4, h3, h4, h5, h6{
	font-size: 150%
}


.Activity1-description{
	width: 400px;
	height: 200px;
	background: rgba(0,0,0,0.7);
	padding: 10px;
	float: right;
	margin-right: 50px;
	margin-top: 100px;
	color:#fff;
}
.Activity1-description p{
	font-size: 20px;
	font-family: verdana
}

.Activity2{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background: #ffccb3;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	overflow-x: scroll; 
	margin-left: 50px;
	position:absolute;
}

.Activity2 img{
	border-radius: 50%; 
	width: 200px; 
	height: 200px; 
	display: block; 
	margin-left: auto; 
	margin-right:auto;
}

.Activity2 h1{
	text-align: center;
}

.Activity2 .content{
	background-color: lightgrey;
	width: 1100px; 
	border: 1px solid green; 
	border-radius: 12px;  
	padding: 10px; 
	margin: auto;
}

.Activity2 .content p{
	font-family: verdana; 
	font-size: 120%;
}

.Activity2-description{
	width: 400px;
	height: 200px;
	background: rgba(0,0,0,0.7);
	padding: 10px;
	float: right;
	margin-right: 50px;
	margin-top: 100px;
	color:#fff;
}

.Activity2-description p{
	font-size: 20px;
	font-family: verdana
}

.Activity3{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background: #ffccb3;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;

}
.Activity3 .content1{
	background-color: lightgrey; 
	border: 1px solid green;
	border-radius: 12px; 
	padding: 10px; 
}
.Activity3 .content1 img{
	width: 200px; 
	height: 200px; 
	margin-right: 31px; 
	margin-left: 20px; 
	margin-top:10px;
}
.Activity3 .content2{
	background-color: lightgrey; 
	border: 1px solid green;
	border-radius: 12px; 
	padding: 10px; 
}
.Activity3 .content3{
	background-color: lightgrey; 
	border: 1px solid green;
	border-radius: 12px; 
	padding: 10px; 
}
.Activity3 .content4{
	background-color: lightgrey; 
	border: 1px solid green;
	border-radius: 12px; 
	padding: 10px; 
}
.Activity3 .content1 h1{
	font-size: 30px; 
	font-family: Verdana;
	text-align:center;
}
.Activity3 .content2 ul{
	font-size: 20px
}
.Activity3 .content3 ol{
	font-size: 20px
}
.Activity3 .content4 dl{
	font-size: 20px
}
.Activity3-description{
	width: 400px;
	height: 240px;
	background: rgba(0,0,0,0.7);
	padding: 10px;
	float: right;
	margin-right: 50px;
	margin-top: 100px;
	color:#fff;
}

.Activity3-description p{
	font-size: 20px;
	font-family: verdana
}

.Activity4{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-image: url("image.jpg");
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.Activity4 img{
	float: left;
	height: 200px;
	width: 200px;
	margin-left: 50px;
	margin-top: 50px
}
.Activity4 audio{
	position: relative;
	top: 270px;
	right: 220px;
	width: 230px;
}
.Activity4 .content {
	background: mistyrose;
	margin-top: 20px;	  
	float: right;
	margin-right: 10px;
	width: 500px;
	height: 700px
}
.Activity4 .profile{
	border: 5px solid lightblue;
	margin-left: 45px;
	margin-top: 200px; 
	width: 200px
}
.Activity4 blockquote{
	font-size: 10px;
	font-family: Verdana;
	text-align: center;
	font-style: italic;
}
.Activity4-description{
	width: 390px;
	height: 210px;
	background: rgba(0,0,0,0.7);
	padding: 10px;
	float: right;
	margin-right: 50px;
	margin-top: 100px;
	color:#fff;
}
.Activity4-description p{
	font-size: 20px;
	font-family: verdana
}

.Activity5-description{
	width: 650px;
	height: 27
	0px;
	background: rgba(0,0,0,0.8);
	padding: 10px;
	margin-left: 370px;
	margin-top: 100px;
	color:#fff;
}
.Activity5-description p{
	font-size: 25px;
	font-family: verdana
}

.Activity6{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: gray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.Activity6 img{
		border-radius: 10px;
		margin-left:35px;
		margin-top: 20px;
		width: 150px;
		height: 150px;
}
.Activity6-description{
	width: 400px;
	height: 210px;
	background: rgba(0,0,0,0.7);
	padding: 10px;
	float: right;
	margin-right: 50px;
	margin-top: 100px;
	color:#fff;
}
.Activity6-description p{
	font-size: 20px;
	font-family: verdana
}
.Spongecola{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.Spongecola img{
	height: 300px;
	width: 300px;
	margin-left: 120px;
	margin-top: 50px;
	border: 5px solid #55	
}
.Spongecola .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.Spongecola a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.Spongecola a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.Spongecola a.Next{
		
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
.Spongecola a.Next:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.BenAndBen{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}

.BenAndBen{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.BenAndBen img{
	height: 300px;
	width: 300px;
	margin-left: 18px;
	margin-top: 50px;
	border: 5px solid #55;

}
.BenAndBen .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.BenAndBen a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.BenAndBen a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.BenAndBen a.Next{
		
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
.BenAndBen a.Next:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.BenAndBen a.Previous{
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: left;
	margin-top: 200px;
		
}
.BenAndBen a.Previous:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.December-Avenue{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}

.December-Avenue{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.December-Avenue img{
	height: 300px;
	width: 300px;
	margin-left: 18px;
	margin-top: 50px;
	border: 5px solid #55;

}
.December-Avenue .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.December-Avenue a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.December-Avenue a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.December-Avenue a.Next{
		
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
.December-Avenue a.Next:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.December-Avenue a.Previous{
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: left;
	margin-top: 200px;
		
}
.December-Avenue a.Previous:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.coln{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.coln img{
	height: 300px;
	width: 300px;
	margin-left: 18px;
	margin-top: 50px;
	border: 5px solid #55;

}
.coln .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.coln a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.coln a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.coln a.Next{
		
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
.coln a.Next:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.coln a.Previous{
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: left;
	margin-top: 200px;
		
}
.coln a.Previous:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.kamikazee{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.kamikazee img{
	height: 300px;
	width: 300px;
	margin-left: 18px;
	margin-top: 50px;
	border: 5px solid #55;

}
.kamikazee .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.kamikazee a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.kamikazee a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.kamikazee a.Next{
		
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
.kamikazee a.Next:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.kamikazee a.Previous{
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: left;
	margin-top: 200px;
		
}
.kamikazee a.Previous:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.callalily{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.callalily img{
	height: 300px;
	width: 300px;
	margin-left: 18px;
	margin-top: 50px;
	border: 5px solid #55;

}
.callalily .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.callalily a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.callalily a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.callalily a.Next{
		
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
.callalily a.Next:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.callalily a.Previous{
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: left;
	margin-top: 200px;
		
}
.callalily a.Previous:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.Eraserheads{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.Eraserheads img{
	height: 300px;
	width: 300px;
	margin-left: 18px;
	margin-top: 50px;
	border: 5px solid #55;

}
.Eraserheads .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.Eraserheads a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.Eraserheads a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.Eraserheads a.Next{
		
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
.Eraserheads a.Next:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.Eraserheads a.Previous{
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: left;
	margin-top: 200px;
		
}
.Eraserheads a.Previous:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.Itchyworms{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.Itchyworms img{
	height: 300px;
	width: 300px;
	margin-left: 18px;
	margin-top: 50px;
	border: 5px solid #55;

}
.Itchyworms .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.Itchyworms a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.Itchyworms a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.Itchyworms a.Next{
		
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
.Itchyworms a.Next:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.Itchyworms a.Previous{
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: left;
	margin-top: 200px;
		
}
.Itchyworms a.Previous:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.magnushaven{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.magnushaven img{
	height: 300px;
	width: 300px;
	margin-left: 18px;
	margin-top: 50px;
	border: 5px solid #55;

}
.magnushaven .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.magnushaven a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.magnushaven a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.magnushaven a.Next{
		
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
.magnushaven a.Next:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.magnushaven a.Previous{
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: left;
	margin-top: 200px;
		
}
.magnushaven a.Previous:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.mayonnaise{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.mayonnaise img{
	height: 300px;
	width: 300px;
	margin-left: 18px;
	margin-top: 50px;
	border: 5px solid #55;

}
.mayonnaise .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.mayonnaise a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.mayonnaise a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.mayonnaise a.Next{
		
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
.mayonnaise a.Next:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.mayonnaise a.Previous{
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: left;
	margin-top: 200px;
		
}
.mayonnaise a.Previous:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.parokyaniedgar{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.parokyaniedgar img{
	height: 300px;
	width: 300px;
	margin-left: 18px;
	margin-top: 50px;
	border: 5px solid #55;

}
.parokyaniedgar .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.parokyaniedgar a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.parokyaniedgar a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.parokyaniedgar a.Next{
		
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
.parokyaniedgar a.Next:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.parokyaniedgar a.Previous{
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: left;
	margin-top: 200px;
		
}
.parokyaniedgar a.Previous:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.Rocksteady{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.Rocksteady img{
	height: 300px;
	width: 300px;
	margin-left: 18px;
	margin-top: 50px;
	border: 5px solid #55;

}
.Rocksteady .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.Rocksteady a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.Rocksteady a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.Rocksteady a.Next{
		
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
.Rocksteady a.Next:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.Rocksteady a.Previous{
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: left;
	margin-top: 200px;
		
}
.Rocksteady a.Previous:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.sixcyclemind{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.sixcyclemind img{
	height: 300px;
	width: 300px;
	margin-left: 18px;
	margin-top: 50px;
	border: 5px solid #55;

}
.sixcyclemind .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.sixcyclemind a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.sixcyclemind a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.sixcyclemind a.Next{
		
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
.sixcyclemind a.Next:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.sixcyclemind a.Previous{
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: left;
	margin-top: 200px;
		
}
.sixcyclemind a.Previous:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.sandwich{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.sandwich img{
	height: 300px;
	width: 300px;
	margin-left: 18px;
	margin-top: 50px;
	border: 5px solid #55;

}
.sandwich .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.sandwich a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.sandwich a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.sandwich a.Next{
		
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
.sandwich a.Next:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.sandwich a.Previous{
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: left;
	margin-top: 200px;
		
}
.sandwich a.Previous:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.slapshock{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.slapshock img{
	height: 300px;
	width: 300px;
	margin-left: 18px;
	margin-top: 50px;
	border: 5px solid #55;

}
.slapshock .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.slapshock a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.slapshock a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.slapshock a.Next{
		
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
.slapshock a.Next:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.slapshock a.Previous{
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: left;
	margin-top: 200px;
		
}
.slapshock a.Previous:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.UpDharmaDown{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: lightgray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}
.UpDharmaDown img{
	height: 300px;
	width: 300px;
	margin-left: 18px;
	margin-top: 50px;
	border: 5px solid #55;

}
.UpDharmaDown .description{
	border: 3px solid black;
	margin-left: 100px;
	margin-top: 30px; 
	width: 600px
}

.UpDharmaDown a.home{
	width: 140px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	}
.UpDharmaDown a.home:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.UpDharmaDown a.Previous{
	width: 100px;
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	position: relative;
	font-family: Verdana;
	text-decoration:none;
	color:black;
	float: left;
	margin-top: 200px;
		
}
.UpDharmaDown a.Previous:hover{
	background-color: dimgray;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.Activity7{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: gray;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 50px;
	position:absolute;
}

.Activity7 #form-outer {
    background-color: rgb(250, 250, 250);
    margin: 0 auto;
    border-radius: 4px;
    width: 75%;
    max-width: 900px;
    padding: 10px;
    padding-top: 20px;
}
.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
}

.rightTab {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
}
.input-field {
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}
#userAge {
    width: 40px;
}

.userRatings,
input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

#submit {
    background-color: gray;
    border-radius: 4px;
    color: black;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 0px solid;
}

#reset {
    background-color: gray;
    border-radius: 4px;
    color: black;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 0px solid;
}
.dropdown {
    height: 35px;
    width: 140px;
    padding: 5px;
    margin: 10px;  
    margin-top: 15px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}

.radio, .checkbox {
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
}

@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}

.Activity7-description{
	width: 400px;
	height: 350px;
	background: rgba(0,0,0,0.7);
	padding: 10px;
	float: right;
	margin-right: 50px;
	margin-top: 100px;
	color:#fff;
}
.Activity7-description p{
	font-size: 20px;
	font-family: verdana
}

.Contact{
	width: 100%;
	height: 300px;

	margin-top: 120px;
	color:#fff;
	text-align: center;
}

.Contact .fa{
	font-size: 50px;
	padding: 30px
	
}

.Feedback{
	width: 100%;
	height: 400px;
	background: rgba(0,0,0,0.8);
	margin-top: 120px;
	color:#fff;
}

.radio-inline{
	margin: 0px 40px 20px 0px;
	cursor: pointer;
}
label{
	color: #fff;
}
#text{
	height: 40px;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 14px;
	border: none;
	width: 300px;
	color: #000
}
#message{
	outline: none;
	border: none;
	font-size: 16px;
	color: #000;
	border-radius: 5px;
	width: 500px;
	height: 170px;
	background: lightgray;
}